
/* charan */

#clg-grid-container{

width: 100% ;
display: block;

}
.clg-grid{
	height: 400px;
	width: 600px;
	background-color: #fff;
	display: inline-block;
	border: #D8D8D8 1px solid;
	text-align: center;
	
}
.img-mask{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 4;
}

.button_container{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	
}

.close_icon{
	cursor: pointer;
	height: 25px;
	display: block;
	position: absolute;
	z-index: 10;

}

.rotatecw_icon{
	cursor: pointer;
	height: 25px;
	display: block;
	position: absolute;
	z-index: 10;
     
}

.rotateccw_icon{
	cursor: pointer;
	height: 25px;
	display: block;
	position: absolute;
	z-index: 10;

}

.btn-filter{
	cursor: pointer;
	height: 25px; 	
	z-index: 10;	
	display: block;
	position: absolute;

}
.zoomin_icon{
	cursor: pointer;
	height: 25px; 	
	z-index: 10;	
	display: block;
	position: absolute;
	
}

.zoomout_icon{
	cursor: pointer;
	height: 25px; 	
	z-index: 10;	
	display: block;
	position: absolute;

}
.btn-apply{
	cursor: pointer;
	height: 25px; 	
	z-index: 10;	
	display: block;
	position: absolute;
	
}

.fileinputlabel_icon{
	z-index: 10;
	position: absolute;
	
}
.btn-fileinput{
	position: absolute;
	z-index: 10;
	text-align: center;
	
}
.btn-download{
	display: none;
}
.btn-reset{
	display: none;
}
.btn-preview{
	display: none;
}
.m-r-10{
	margin-right: 10px;
}
.m-b-10{
	margin-bottom: 10px;
}
.pop-full {
	width: 98%;
	background-color: white;
	margin: 0 auto;
	margin-top: 2%;
	border: 1px solid #dbd7d7;
	height: 93vh;
  }
  
  .modal-header {
	padding: 10px;
	border-bottom: 1px solid #eee;
	background-color: #f5f5f5;
	text-transform: capitalize;
  }
  
  .close {
	color: #848484;
	float: right;
  }
  
  .close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .popup-close {
	font-size: 28px;
	}
	
  .portlet-title {
    background: #f1f1f1; color: #333;
    border: 1px solid #ddd;
    padding:10px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .portlet-body { 
    padding: 10px;
   background: #fbfbfb;
    border-top: 0;
  }
  .m-portlet--full-height {
		height: calc(100% - 10px);
		margin-bottom: 10px;
  }
  .no-border{
		border: none;
	}
	.width200{
		width: 200px;
	}
	.width50{
		width: 50px;

	}
.m-t-10{
	margin-top: 10px;
}
	.form-div{
		width: 24%;
		margin-right:1%;

	}
	.display-inline-block{
		display: inline-block;
	}

	.avilable-layouts-div{
		display: none;
	}
	.disp-block{
		display: block !important;
	}
.mask-div{
box-align :center;
position: absolute;
top: 0;
left: 0;
z-index: 10
}
.zoomidx-10{
	z-index: 10;
	cursor: move;
	opacity: 0.6;
}

.zoomidx-1{
	
	cursor: move !important;
	z-index: 1;
	
}

.clg-grid{
	position: relative;
	z-index: 0;
}
.img-center-div{
	position: absolute;
	z-index: 10;
	margin: 0 auto;
	top: 40%;
	left: 0;
	right: 0;
	
}
.output-div{
	width: 100%;
	height: 100%;	
}
.output-div output{

	padding-top: 0;
	width: 100%;
	height: 100%;
}

.output-div output div{
	width: 100%;
	height: 100%;
}
/* .output-div output div img{
	width: 100%;
	height: 100%;
} */
.over-flow-hidden{
	overflow: hidden;
}




  /* charan */
  
  @media screen and (max-width: 1024px) {
	.pop-full{
	    height: 95vh;
	    margin-top: 4%;
	}
  
  }
  
/* charan */

